<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.firstname %></h1>
    <h3>
      You have succefully created new product
    </h3>

    <p>
    	Name : <%= @product.name %>
    </p>
   <p>
    	Price : <%= @product.price %>
    </p>
    <p>
    	Qunatity : <%= @product.quantity %>
    </p>
    <p>
    	Category : <%= @product.category %>
    </p>
  </body>
</html>